manifest.wake
*.o
.build
.fuse*
.cache-hit
.cache-misses
.job-cache
compile_commands.json
/.compile_commands
/.vscode/*.log
/**/wake.db*
/**/wake.log
/wake.db*
/wake.spec
/src/parser/lexer.cpp
/src/parser/parser.y
/src/parser/parser.c
/src/parser/parser.h
/src/parser/parser.out
/src/parser/parser.cpp
/src/json/jlexer.cpp
/bin/wake*
/bin/preload-wake
/bin/preload-wake.*
/bin/evict-shared-cache*
/bin/wakebox
/bin/wakebox.*
/bin/wake-format.*
/bin/job-cache
/bin/job-cache.*
/src/version.h
/lib/wake/bsp-wake
/lib/wake/bsp-wake.*
/lib/wake/lsp-wake
/lib/wake/lsp-wake.*
/lib/wake/fuse-waked
/lib/wake/fuse-waked.*
/lib/wake/shim-wake
/lib/wake/shim-wake.*
/lib/wake/wake-hash
/lib/wake/wake-hash.*
/lib/wake/libpreload-wake.*
/licenses/LICENSE*
/vendor/lemon/lemon.*
/tmp
*.swp
*.swo
*.swn
.cargo
/rust/target/*
/rust/migration/target/*
/rust/entity/target/*
/rust/log_viewer/target/*
/rust/rsc/target/*
