manifest.wake
*.o
/.vscode
/.build
/.fuse
/.fuse.log
/wake.db
/wake.spec
/src/symbol.cpp
/common/jlexer.cpp
/bin/wake*
/bin/fuse-wake
/bin/fuse-wake.*
/bin/preload-wake
/bin/preload-wake.*
/bin/wakebox
/bin/wakebox.*
/src/version.h
/lib/wake/bsp-wake
/lib/wake/bsp-wake.*
/lib/wake/fuse-waked
/lib/wake/fuse-waked.*
/lib/wake/shim-wake
/lib/wake/shim-wake.*
/lib/wake/libpreload-wake.*
/install
*.swp
*.swo
*.swn
