name: "Test"

on:
    pull_request:

jobs:
    build:
        name: "MacOS build"
        runs-on: macos-10.15

        steps:
            - name: "Clone wake"
              uses: actions/checkout@v2
              with:
                fetch-depth: 0

            - name: "Install deps"
              run: |
                brew install --cask osxfuse
                brew install re2 || brew install re2 --head

            - name: "Build wake"
              run: make all -j3

            - name: "Test wake"
              run: make test
